/* Cabeçalho */
header{
    background-size: cover;
    background-position: center;
    height: 100px;
    text-align: center;
    padding-top: 50px;
  }
  /* CORES */
  .branco{color:#fff}
  .bg-amarelo{background-color: rgb(196, 62, 28)}
  .amarelo{color:#1b1b1a}
  .bg-azul{background-color: #46bbe9}
  .preto{color: #222}
  .bg-preto{background-color: rgb(34, 34, 34)}
  .verde{color: #31c2b6}
  .bg-pura{background-color: #ebcf9b}
  .bg-branco{background-color: white}
  
  
  /*NAV*/
  header {
    background-image: url(../img/barra.jpg);
  
  }
  
  
  
  * {box-sizing: border-box;}
  
  .mySlides {display: none;}
  
  
  /* Slideshow container */
  .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  }
  
  /* Caption text */
  .text {
  color: #080808;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: rgb(221, 30, 30);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(238, 17, 17);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active {
  background-color: #8b0f0f;
  }
  
  /* Fading animation */
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  }
  
  .clearfix{
    content: "";
    clear: both;
    overflow: auto;
   display: table;
  }
  
  .container {
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    margin: auto;
  }
  
  .esquerda{float: left}
  .direita{float: right}
  .centro{text-align: center; margin: auto}
  
  .img{
    width: 50%;
    border: rgb(160, 65, 65) 5px solid;
  
  }
  .abc{
    float: right;
    padding-top: 50px;
    padding-right: 20px;
  }
  
  #produtos div{
    width: 50%;
    float: left;
    height: 40%;
  
  }
  #produtos img{
    width: 100%;
  }
  #produtos p{
    border: 100px;
    top: 20px;
    padding-top: 30px;
  }
  
  .logo{
    display: inline-block;
    padding: 10px 50px;
  }
  
  .att{
    padding:10px;
  }
  #text-att{
    text-align: center;
    font: 60px;
    font-weight: bold;
  }
  .titulos{
    text-align: center;
    background-color:#0652DD;
    color: #fff;
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
    
    /* Caption text */
    .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(129, 125, 125);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    
    .active {
    background-color: #717171;
    }
    /*navbar e logo  "tama"= gif do bixinho*/
    .box{
        padding: 50px;
    }
    .status{
        padding: 20px;
    }
    .titulotop{
      padding-bottom: 10px;
      
    }
    .tama{
      width: 20%;
    }
    .humor{
      padding: 8px 0px;
    }
    /* Botão de ação */
    .barrinha{
      margin-bottom: 10px;
    
    }
    /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4.5s;
    animation-name: fade;
    animation-duration: 4.5s;
    }
    
    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    }
    img.seven-logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
   
      top: 50%;
      left: 50%;
    }
    /*RESPONSIVE_IMAGE PARA FIREFOX*/
  @-moz-document url-prefix() {  
      img.seven-logo{
       width: 100%;
       max-width:600px;
       max-height:156px;
      }
  }
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    p{
        font-size: 10px;
    }
  }
  
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    p{
        font-size: 12px;
    }
  }
  
  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    p{
        font-size: 14px;
    }
  }
  
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    p{
        font-size: 11px;
    }
  }
  
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    p{
        font-size: 10px;
    }
  }
  /*rodape*/
  footer{
    background-image: url(../img/super_mario_bros__world_by_lwiis64-d32ybh0.jpg);
    background-size: cover;
    
  }